In [24]:
!pip install --upgrade mlxtend

Requirement already satisfied: mlxtend in c:\users\maiyp\anaconda3\envs\crosswalk\lib\site-packages (0.23.3)
Requirement already satisfied: joblib>=0.13.2 in c:\users\maiyp\anaconda3\envs\crosswalk\lib\site-packages (from mlxtend) (1.4.2)
Requirement already satisfied: scipy>=1.2.1 in c:\users\maiyp\anaconda3\envs\crosswalk\lib\site-packages (from mlxtend) (1.9.1)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\maiyp\anaconda3\envs\crosswalk\lib\site-packages (from mlxtend) (3.6.2)
Requirement already satisfied: numpy>=1.16.2 in c:\users\maiyp\anaconda3\envs\crosswalk\lib\site-packages (from mlxtend) (1.23.0)
Requirement already satisfied: pandas>=0.24.2 in c:\users\maiyp\anaconda3\envs\crosswalk\lib\site-packages (from mlxtend) (1.5.2)
Requirement already satisfied: scikit-learn>=1.3.1 in c:\users\maiyp\anaconda3\envs\crosswalk\lib\site-packages (from mlxtend) (1.3.2)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\maiyp\anaconda3\envs\crosswalk\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.2)
Requirement already satisfied: packaging>=20.0 in c:\users\maiyp\anaconda3\envs\crosswalk\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (23.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\maiyp\anaconda3\envs\crosswalk\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.1.1)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\maiyp\anaconda3\envs\crosswalk\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.4.5)
Requirement already satisfied: pillow>=6.2.0 in c:\users\maiyp\anaconda3\envs\crosswalk\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (10.0.1)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\maiyp\anaconda3\envs\crosswalk\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (3.1.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\maiyp\anaconda3\envs\crosswalk\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (4.48.1)
Requirement already satisfied: cycler>=0.10 in c:\users\maiyp\anaconda3\envs\crosswalk\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.12.1)
Requirement already satisfied: pytz>=2020.1 in c:\users\maiyp\anaconda3\envs\crosswalk\lib\site-packages (from pandas>=0.24.2->mlxtend) (2024.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\maiyp\anaconda3\envs\crosswalk\lib\site-packages (from scikit-learn>=1.3.1->mlxtend) (3.2.0)
Requirement already satisfied: six>=1.5 in c:\users\maiyp\anaconda3\envs\crosswalk\lib\site-packages (from python-dateutil>=2.7->matplotlib>=3.0.0->mlxtend) (1.16.0)

In [25]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from mlxtend.frequent_patterns import apriori, association_rules

In [4]:
df = pd.read_csv("dataset/bank.csv", sep=";")
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no

In [5]:
df.shape

(4521, 17)

## Transform the dataset to "one hot table"

### Grouping the job from 12 diff types to 6 types

In [6]:
# Define the grouping mapping for the 'job' column (from 12 to 6)
job_group_mapping = {
    'management': 'white-collar',
    'technician': 'white-collar',
    'admin.': 'white-collar',
    'services': 'manual-labor',
    'blue-collar': 'manual-labor',
    'self-employed': 'entrepreneur',
    'entrepreneur': 'entrepreneur',
    'unemployed': 'no-job',
    'student': 'no-job',
    'retired': 'retired',
    'housemaid': 'manual-labor',
    'unknown': 'unknown'
}

df['job_grouped'] = df['job'].replace(job_group_mapping)
df['job'] = df['job_grouped']
df.drop('job_grouped', axis=1, inplace=True)

### Devide age'column into 4 parts: "adult", "middle-aged", "senior", "elderly"

In [7]:
# Define a mapping function for age groups
def map_age_to_group(age):
    if 15 <= age < 30:
        return 'adult'
    elif 30 <= age < 45:
        return 'middle-aged'
    elif 45 <= age < 65:
        return 'senior'
    else:
        return 'elderly'

In [8]:
# Apply the mapping function to the 'age' column
df['age_group'] = df['age'].apply(map_age_to_group)
df['age'] = df['age_group']
df.drop('age_group', axis=1, inplace=True)

# Display the first few rows of the updated dataset
df['age'].head()

0    middle-aged
1    middle-aged
2    middle-aged
3    middle-aged
4         senior
Name: age, dtype: object

### The Balance has the range between '-3313€' and '71188€' so i decide to devide it into 5 groups: Negative , Low, Medium , High , Very high .

In [9]:
def map_balance_to_group(balance):
    if balance < 0: 
        return  'negative'
    elif  0<= balance < 5000: 
        return 'low'
    elif 5000 <= balance < 20000:
        return 'medium'
    elif 20000 <= balance < 50000:
        return 'high'
    else:
        return 'very high'

In [10]:
df['balance_group'] = df['balance'].apply(map_balance_to_group) 
df['balance'] = df['balance_group']
df.drop('balance_group', axis=1, inplace=True)

In [11]:
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,middle-aged,no-job,married,primary,no,low,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,middle-aged,manual-labor,married,secondary,no,low,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,middle-aged,white-collar,single,tertiary,no,low,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,middle-aged,white-collar,married,tertiary,no,low,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,senior,manual-labor,married,secondary,no,low,yes,no,unknown,5,may,226,1,-1,0,unknown,no

In [12]:
df.rename(columns={'default': 'credit', 'y': 'subscribed_term_deposit'}, inplace=True)
df.head()

,age,job,marital,education,credit,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,subscribed_term_deposit
0,middle-aged,no-job,married,primary,no,low,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,middle-aged,manual-labor,married,secondary,no,low,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,middle-aged,white-collar,single,tertiary,no,low,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,middle-aged,white-collar,married,tertiary,no,low,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,senior,manual-labor,married,secondary,no,low,yes,no,unknown,5,may,226,1,-1,0,unknown,no

### We take the interests columns : 'age', 'job', 'marital', 'education', 'credit', 'balance', 'housing', 'loan', 'subscribed_term_deposit'

In [13]:
df.drop(['contact', 'day', 'month', 'duration', 'campaign', 'pdays', 'previous', 'poutcome'], axis=1, inplace=True)

In [14]:
df.head()

,age,job,marital,education,credit,balance,housing,loan,subscribed_term_deposit
0,middle-aged,no-job,married,primary,no,low,no,no,no
1,middle-aged,manual-labor,married,secondary,no,low,yes,yes,no
2,middle-aged,white-collar,single,tertiary,no,low,yes,no,no
3,middle-aged,white-collar,married,tertiary,no,low,yes,yes,no
4,senior,manual-labor,married,secondary,no,low,yes,no,no

### Transform to the "One hot table"

In [15]:
age_one_hot = pd.get_dummies(df['age'], prefix='age')
job_one_hot = pd.get_dummies(df['job'], prefix='job')
marital_one_hot = pd.get_dummies(df['marital'], prefix='marital')
education_one_hot = pd.get_dummies(df['education'], prefix='education')
credit_one_hot = pd.get_dummies(df['credit'], prefix='credit')
balance_one_hot = pd.get_dummies(df['balance'], prefix='balance')
housing_one_hot = pd.get_dummies(df['housing'], prefix='housing')
loan_one_hot = pd.get_dummies(df['loan'], prefix='loan')
subscribed_term_d_one_hot = pd.get_dummies(df['subscribed_term_deposit'], prefix='subscribed_term_d')

df = pd.concat([df, age_one_hot], axis=1)
df = pd.concat([df, job_one_hot], axis=1)
df = pd.concat([df, marital_one_hot], axis=1)
df = pd.concat([df, education_one_hot], axis=1)
df = pd.concat([df, credit_one_hot], axis=1)
df = pd.concat([df, balance_one_hot], axis=1)
df = pd.concat([df, housing_one_hot], axis=1)
df = pd.concat([df, loan_one_hot], axis=1)
df = pd.concat([df, subscribed_term_d_one_hot], axis=1)

df.drop(['age', 'job', 'marital', 'education', 'credit', 'balance', 'housing', 'loan', 'subscribed_term_deposit'], axis=1, inplace=True)

df.head(20)

,age_adult,age_elderly,age_middle-aged,age_senior,job_entrepreneur,job_manual-labor,job_no-job,job_retired,job_unknown,job_white-collar,...,balance_low,balance_medium,balance_negative,balance_very high,housing_no,housing_yes,loan_no,loan_yes,subscribed_term_d_no,subscribed_term_d_yes
0,0,0,1,0,0,0,1,0,0,0,...,1,0,0,0,1,0,1,0,1,0
1,0,0,1,0,0,1,0,0,0,0,...,1,0,0,0,0,1,0,1,1,0
2,0,0,1,0,0,0,0,0,0,1,...,1,0,0,0,0,1,1,0,1,0
3,0,0,1,0,0,0,0,0,0,1,...,1,0,0,0,0,1,0,1,1,0
4,0,0,0,1,0,1,0,0,0,0,...,1,0,0,0,0,1,1,0,1,0
5,0,0,1,0,0,0,0,0,0,1,...,1,0,0,0,1,0,1,0,1,0
6,0,0,1,0,1,0,0,0,0,0,...,1,0,0,0,0,1,1,0,1,0
7,0,0,1,0,0,0,0,0,0,1,...,1,0,0,0,0,1,1,0,1,0
8,0,0,1,0,1,0,0,0,0,0,...,1,0,0,0,0,1,1,0,1,0
9,0,0,1,0,0,1,0,0,0,0,...,0,0,1,0,0,1,0,1,1,0
10,0,0,1,0,0,1,0,0,0,0,...,0,1,0,0,0,1,1,0,1,0
11,0,0,1,0,0,0,0,0,0,1,...,1,0,0,0,0,1,1,0,1,0
12,0,0,1,0,0,0,0,0,0,1,...,1,0,0,0,1,0,1,0,1,0
13,1,0,0,0,0,0,1,0,0,0,...,1,0,0,0,1,0,1,0,0,1
14,0,0,1,0,0,1,0,0,0,0,...,1,0,0,0,0,1,0,1,1,0
15,0,0,1,0,0,0,0,0,0,1,...,1,0,0,0,1,0,0,1,1,0
16,0,0,0,1,0,0,0,0,0,1,...,1,0,0,0,1,0,1,0,1,0
17,0,0,1,0,0,0,0,0,0,1,...,1,0,0,0,0,1,1,0,1,0
18,1,0,0,0,0,1,0,0,0,0,...,0,0,1,0,0,1,1,0,1,0
19,0,0,1,0,0,1,0,0,0,0,...,1,0,0,0,1,0,1,0,1,0

In [16]:
df.shape

(4521, 30)

In [17]:
df.to_csv("dataset/bank_cleaned.csv", index=False)

## Experiment Frequent patterns and association rules discovery on data

### Compute frequent itemsets with interesting measures (at least support and tiles)

#### Threshold support = 0.25,  > 1131 occurancies

In [33]:
frequent_itemsets = apriori(df, min_support=0.25, use_colnames=True)
print(frequent_itemsets)

      support                                           itemsets
0    0.541031                                  (age_middle-aged)
1    0.332670                                       (age_senior)
2    0.326255                                 (job_manual-labor)
3    0.489936                                 (job_white-collar)
4    0.618668                                  (marital_married)
..        ...                                                ...
203  0.391064  (credit_no, balance_low, subscribed_term_d_no,...
204  0.270515  (credit_no, subscribed_term_d_no, marital_marr...
205  0.310993  (education_secondary, credit_no, balance_low, ...
206  0.265649  (credit_no, balance_low, subscribed_term_d_no,...
207  0.361867  (credit_no, balance_low, subscribed_term_d_no,...

[208 rows x 2 columns]

c:\Users\MAIYP\anaconda3\envs\crosswalk\lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:161: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

In [62]:
frequent_itemsets['itemset_length'] = frequent_itemsets['itemsets'].apply(len)
frequent_itemsets['tiles'] = frequent_itemsets['support'] * frequent_itemsets['itemset_length']
frequent_itemsets.drop(['itemset_length'], axis=1, inplace=True)
frequent_itemsets

      support                                           itemsets     tiles
0    0.541031                                  (age_middle-aged)  0.541031
1    0.332670                                       (age_senior)  0.332670
2    0.326255                                 (job_manual-labor)  0.326255
3    0.489936                                 (job_white-collar)  0.489936
4    0.618668                                  (marital_married)  0.618668
..        ...                                                ...       ...
203  0.391064  (credit_no, balance_low, subscribed_term_d_no,...  1.955320
204  0.270515  (credit_no, subscribed_term_d_no, marital_marr...  1.352577
205  0.310993  (education_secondary, credit_no, balance_low, ...  1.554966
206  0.265649  (credit_no, balance_low, subscribed_term_d_no,...  1.328246
207  0.361867  (credit_no, balance_low, subscribed_term_d_no,...  1.809334

[208 rows x 3 columns]

### Compute the "max_itemsets", "closed itemsets", "free itemsets", "generator itemsetes", "largets tiles"

In [92]:
#Compute the maximal itemsets
def is_maximal(itemset, all_itemsets):
    for other in all_itemsets:
        if set(itemset).issubset(set(other)) and set(itemset) != other:
            return False
    return True

frequent_itemsets['is_maximal'] = frequent_itemsets['itemsets'].apply(
    lambda x: is_maximal(x, frequent_itemsets['itemsets']))

maximal_itemsets = frequent_itemsets[frequent_itemsets['is_maximal'] == True]
print(maximal_itemsets)

      support                                           itemsets     tiles  \
22   0.251272                      (age_senior, marital_married)  0.502544
44   0.259677                        (marital_single, credit_no)  0.519354
69   0.250387   (age_middle-aged, balance_low, job_white-collar)  0.751161
88   0.282238               (age_senior, balance_low, credit_no)  0.846715
89   0.273391                   (age_senior, loan_no, credit_no)  0.820173
90   0.288874      (age_senior, subscribed_term_d_no, credit_no)  0.866622
91   0.250608    (age_senior, balance_low, subscribed_term_d_no)  0.751825
93   0.268746             (job_manual-labor, loan_no, credit_no)  0.806238
96   0.269852     (marital_married, job_white-collar, credit_no)  0.809555
98   0.267861         (housing_yes, job_white-collar, credit_no)  0.803583
109  0.256138           (housing_no, marital_married, credit_no)  0.768414
129  0.252820       (balance_low, education_tertiary, credit_no)  0.758461
130  0.257244           (education_tertiary, loan_no, credit_no)  0.771732
131  0.252378  (subscribed_term_d_no, education_tertiary, cre...  0.757133
148  0.251272  (age_middle-aged, loan_no, job_white-collar, c...  1.005087
149  0.257023  (age_middle-aged, subscribed_term_d_no, job_wh...  1.028091
150  0.272064  (age_middle-aged, marital_married, balance_low...  1.088255
151  0.266976  (age_middle-aged, marital_married, loan_no, cr...  1.067905
152  0.292413  (age_middle-aged, marital_married, subscribed_...  1.169653
153  0.254147  (age_middle-aged, subscribed_term_d_no, educat...  1.016589
163  0.251051  (balance_low, subscribed_term_d_no, job_manual...  1.004203
168  0.265649  (marital_married, education_secondary, balance...  1.062597
169  0.251714  (marital_married, education_secondary, loan_no...  1.006857
170  0.283123  (marital_married, subscribed_term_d_no, educat...  1.132493
181  0.261447  (balance_low, education_secondary, housing_yes...  1.045786
184  0.256359  (education_secondary, loan_no, housing_yes, cr...  1.025437
185  0.285999  (subscribed_term_d_no, education_secondary, ho...  1.143995
197  0.261889  (age_middle-aged, credit_no, balance_low, subs...  1.309445
198  0.344614  (age_middle-aged, credit_no, balance_low, subs...  1.723070
199  0.260562  (age_middle-aged, credit_no, subscribed_term_d...  1.302809
200  0.306348  (credit_no, balance_low, subscribed_term_d_no,...  1.531741
201  0.251493  (credit_no, balance_low, marital_married, loan...  1.257465
202  0.277372  (credit_no, balance_low, subscribed_term_d_no,...  1.386861
203  0.391064  (credit_no, balance_low, subscribed_term_d_no,...  1.955320
204  0.270515  (credit_no, subscribed_term_d_no, marital_marr...  1.352577
205  0.310993  (education_secondary, credit_no, balance_low, ...  1.554966
206  0.265649  (credit_no, balance_low, subscribed_term_d_no,...  1.328246
207  0.361867  (credit_no, balance_low, subscribed_term_d_no,...  1.809334

     is_maximal  is_closed  is_generator
22         True       True          True
44         True       True          True
69         True       True          True
88         True       True          True
89         True       True          True
90         True       True          True
91         True       True          True
93         True       True          True
96         True       True          True
98         True       True          True
109        True       True          True
129        True       True          True
130        True       True          True
131        True       True          True
148        True       True          True
149        True       True          True
150        True       True          True
151        True       True          True
152        True       True          True
153        True       True          True
163        True       True          True
168        True       True          True
169        True       True          True
170        True       True          True
181        True       True          True
184        True       True          True
185        True       True          True
197        True       True          True
198        True       True          True
199        True       True          True
200        True       True          True
201        True       True          True
202        True       True          True
203        True       True          True
204        True       True          True
205        True       True          True
206        True       True          True
207        True       True          True

In [93]:
# Compute Closed Itemsets
def is_closed(itemset, all_itemsets, all_supports):
    for other, support in zip(all_itemsets, all_supports):
        if set(itemset).issubset(other) and set(itemset) != other and support == all_supports[all_itemsets.index(other)]:
            return False
    return True

frequent_itemsets['is_closed'] = frequent_itemsets['itemsets'].apply(
    lambda x: is_closed(x, frequent_itemsets['itemsets'].tolist(), frequent_itemsets['support'].tolist())
)

closed_itemsets = frequent_itemsets[frequent_itemsets['is_closed'] == True]

print(closed_itemsets)

      support                                           itemsets     tiles  \
22   0.251272                      (age_senior, marital_married)  0.502544
44   0.259677                        (marital_single, credit_no)  0.519354
69   0.250387   (age_middle-aged, balance_low, job_white-collar)  0.751161
88   0.282238               (age_senior, balance_low, credit_no)  0.846715
89   0.273391                   (age_senior, loan_no, credit_no)  0.820173
90   0.288874      (age_senior, subscribed_term_d_no, credit_no)  0.866622
91   0.250608    (age_senior, balance_low, subscribed_term_d_no)  0.751825
93   0.268746             (job_manual-labor, loan_no, credit_no)  0.806238
96   0.269852     (marital_married, job_white-collar, credit_no)  0.809555
98   0.267861         (housing_yes, job_white-collar, credit_no)  0.803583
109  0.256138           (housing_no, marital_married, credit_no)  0.768414
129  0.252820       (balance_low, education_tertiary, credit_no)  0.758461
130  0.257244           (education_tertiary, loan_no, credit_no)  0.771732
131  0.252378  (subscribed_term_d_no, education_tertiary, cre...  0.757133
148  0.251272  (age_middle-aged, loan_no, job_white-collar, c...  1.005087
149  0.257023  (age_middle-aged, subscribed_term_d_no, job_wh...  1.028091
150  0.272064  (age_middle-aged, marital_married, balance_low...  1.088255
151  0.266976  (age_middle-aged, marital_married, loan_no, cr...  1.067905
152  0.292413  (age_middle-aged, marital_married, subscribed_...  1.169653
153  0.254147  (age_middle-aged, subscribed_term_d_no, educat...  1.016589
163  0.251051  (balance_low, subscribed_term_d_no, job_manual...  1.004203
168  0.265649  (marital_married, education_secondary, balance...  1.062597
169  0.251714  (marital_married, education_secondary, loan_no...  1.006857
170  0.283123  (marital_married, subscribed_term_d_no, educat...  1.132493
181  0.261447  (balance_low, education_secondary, housing_yes...  1.045786
184  0.256359  (education_secondary, loan_no, housing_yes, cr...  1.025437
185  0.285999  (subscribed_term_d_no, education_secondary, ho...  1.143995
197  0.261889  (age_middle-aged, credit_no, balance_low, subs...  1.309445
198  0.344614  (age_middle-aged, credit_no, balance_low, subs...  1.723070
199  0.260562  (age_middle-aged, credit_no, subscribed_term_d...  1.302809
200  0.306348  (credit_no, balance_low, subscribed_term_d_no,...  1.531741
201  0.251493  (credit_no, balance_low, marital_married, loan...  1.257465
202  0.277372  (credit_no, balance_low, subscribed_term_d_no,...  1.386861
203  0.391064  (credit_no, balance_low, subscribed_term_d_no,...  1.955320
204  0.270515  (credit_no, subscribed_term_d_no, marital_marr...  1.352577
205  0.310993  (education_secondary, credit_no, balance_low, ...  1.554966
206  0.265649  (credit_no, balance_low, subscribed_term_d_no,...  1.328246
207  0.361867  (credit_no, balance_low, subscribed_term_d_no,...  1.809334

     is_maximal  is_closed  is_generator
22         True       True          True
44         True       True          True
69         True       True          True
88         True       True          True
89         True       True          True
90         True       True          True
91         True       True          True
93         True       True          True
96         True       True          True
98         True       True          True
109        True       True          True
129        True       True          True
130        True       True          True
131        True       True          True
148        True       True          True
149        True       True          True
150        True       True          True
151        True       True          True
152        True       True          True
153        True       True          True
163        True       True          True
168        True       True          True
169        True       True          True
170        True       True          True
181        True       True          True
184        True       True          True
185        True       True          True
197        True       True          True
198        True       True          True
199        True       True          True
200        True       True          True
201        True       True          True
202        True       True          True
203        True       True          True
204        True       True          True
205        True       True          True
206        True       True          True
207        True       True          True

In [94]:
#Compute the generator itemsets
def is_generator(itemset, all_itemsets, all_supports):
    for other, support in zip(all_itemsets, all_supports):
        if set(itemset).issubset(other) and set(itemset) != other and support > all_supports[all_itemsets.index(other)]:
            return False
    return True

frequent_itemsets['is_generator'] = frequent_itemsets['itemsets'].apply(
    lambda x: is_generator(x, frequent_itemsets['itemsets'].tolist(), frequent_itemsets['support'].tolist())
)

generator_itemsets = frequent_itemsets[frequent_itemsets['is_generator'] == True]
print(generator_itemsets)

      support                                           itemsets     tiles  \
0    0.541031                                  (age_middle-aged)  0.541031
1    0.332670                                       (age_senior)  0.332670
2    0.326255                                 (job_manual-labor)  0.326255
3    0.489936                                 (job_white-collar)  0.489936
4    0.618668                                  (marital_married)  0.618668
..        ...                                                ...       ...
203  0.391064  (credit_no, balance_low, subscribed_term_d_no,...  1.955320
204  0.270515  (credit_no, subscribed_term_d_no, marital_marr...  1.352577
205  0.310993  (education_secondary, credit_no, balance_low, ...  1.554966
206  0.265649  (credit_no, balance_low, subscribed_term_d_no,...  1.328246
207  0.361867  (credit_no, balance_low, subscribed_term_d_no,...  1.809334

     is_maximal  is_closed  is_generator
0         False      False          True
1         False      False          True
2         False      False          True
3         False      False          True
4         False      False          True
..          ...        ...           ...
203        True       True          True
204        True       True          True
205        True       True          True
206        True       True          True
207        True       True          True

[208 rows x 6 columns]

In [75]:
#Computer the largest tile
largest_tiles = frequent_itemsets['tiles'].max()
print(largest_tiles)

2.5100641451006416

In [77]:
frequent_itemsets.head(20)

,support,itemsets,tiles,is_maximal,is_closed,is_generator
0,0.541031,(age_middle-aged),0.541031,False,False,True
1,0.332670,(age_senior),0.332670,False,False,True
2,0.326255,(job_manual-labor),0.326255,False,False,True
3,0.489936,(job_white-collar),0.489936,False,False,True
4,0.618668,(marital_married),0.618668,False,False,True
5,0.264543,(marital_single),0.264543,False,False,True
6,0.510064,(education_secondary),0.510064,False,False,True
7,0.298607,(education_tertiary),0.298607,False,False,True
8,0.983190,(credit_no),0.983190,False,False,True
9,0.850697,(balance_low),0.850697,False,False,True
10,0.433975,(housing_no),0.433975,False,False,True
11,0.566025,(housing_yes),0.566025,False,False,True
12,0.847158,(loan_no),0.847158,False,False,True
13,0.884760,(subscribed_term_d_no),0.884760,False,False,True
14,0.295510,"(age_middle-aged, job_white-collar)",0.591020,False,False,True
15,0.323601,"(age_middle-aged, marital_married)",0.647202,False,False,True
16,0.281796,"(age_middle-aged, education_secondary)",0.563592,False,False,True
17,0.532626,"(age_middle-aged, credit_no)",1.065251,False,False,True
18,0.458084,"(age_middle-aged, balance_low)",0.916169,False,False,True
19,0.345941,"(age_middle-aged, housing_yes)",0.691882,False,False,True

### Compute association rules  with interesting measures (lift, leverage, rule interest,  laplace, lovinger, ....)

In [96]:
# Generate association rules
rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.6, num_itemsets=2)

print(rules)

                             antecedents  \
0                     (job_white-collar)
1                      (age_middle-aged)
2                      (age_middle-aged)
3                      (age_middle-aged)
4                          (housing_yes)
..                                   ...
737             (housing_yes, credit_no)
738           (balance_low, housing_yes)
739  (subscribed_term_d_no, housing_yes)
740               (loan_no, housing_yes)
741                        (housing_yes)

                                           consequents  antecedent support  \
0                                    (age_middle-aged)            0.489936
1                                          (credit_no)            0.541031
2                                        (balance_low)            0.541031
3                                        (housing_yes)            0.541031
4                                    (age_middle-aged)            0.566025
..                                                 ...                 ...
737       (balance_low, subscribed_term_d_no, loan_no)            0.556072
738         (subscribed_term_d_no, loan_no, credit_no)            0.474231
739                  (balance_low, loan_no, credit_no)            0.517363
740     (balance_low, subscribed_term_d_no, credit_no)            0.476222
741  (balance_low, subscribed_term_d_no, loan_no, c...            0.566025

     consequent support   support  confidence      lift  representativity  \
0              0.541031  0.295510    0.603160  1.114835               1.0
1              0.983190  0.532626    0.984464  1.001297               1.0
2              0.850697  0.458084    0.846688  0.995288               1.0
3              0.566025  0.345941    0.639411  1.129652               1.0
4              0.541031  0.345941    0.611176  1.129652               1.0
..                  ...       ...         ...       ...               ...
737            0.631719  0.361867    0.650756  1.030135               1.0
738            0.731697  0.361867    0.763060  1.042864               1.0
739            0.721079  0.361867    0.699444  0.969996               1.0
740            0.743641  0.361867    0.759870  1.021824               1.0
741            0.627516  0.361867    0.639312  1.018798               1.0

     leverage  conviction  zhangs_metric   jaccard  certainty  kulczynski
0    0.030439    1.156561       0.201948  0.401805   0.135368    0.574679
1    0.000690    1.082061       0.002822  0.537140   0.075838    0.763098
2   -0.002169    0.973855      -0.010209  0.490642  -0.026847    0.692585
3    0.039704    1.203517       0.250063  0.454519   0.169102    0.625294
4    0.039704    1.180404       0.264465  0.454519   0.152833    0.625294
..        ...         ...            ...       ...        ...         ...
737  0.010586    1.054509       0.065898  0.438136   0.051692    0.611792
738  0.014873    1.132367       0.078175  0.428721   0.116894    0.628809
739 -0.011193    0.928016      -0.060230  0.412819  -0.077568    0.600642
740  0.007729    1.067585       0.040776  0.421758   0.063306    0.623243
741  0.006677    1.032705       0.042517  0.435106   0.031669    0.607989

[742 rows x 14 columns]

### Manage redundant rules

In [97]:
rules = rules.sort_values(by='lift', ascending=False).drop_duplicates(subset=['consequents'], keep='first')
print(rules)

                                           antecedents  \
7                                         (age_senior)
349            (age_middle-aged, subscribed_term_d_no)
346  (age_middle-aged, subscribed_term_d_no, credit...
348     (subscribed_term_d_no, housing_yes, credit_no)
323                         (balance_low, housing_yes)
668        (balance_low, marital_married, housing_yes)
667   (balance_low, subscribed_term_d_no, housing_yes)
192                     (marital_married, housing_yes)
666          (marital_married, housing_yes, credit_no)
738                         (balance_low, housing_yes)
670                     (marital_married, housing_yes)
731              (balance_low, housing_yes, credit_no)
536                            (housing_no, credit_no)
230                               (education_tertiary)
737                           (housing_yes, credit_no)
229                    (education_tertiary, credit_no)
533                   (housing_no, loan_no, credit_no)
535                              (housing_no, loan_no)
537                                       (housing_no)
741                                      (housing_yes)
376  (balance_low, subscribed_term_d_no, job_manual...

                                           consequents  antecedent support  \
7                                    (marital_married)            0.332670
349                           (housing_yes, credit_no)            0.487724
346                                      (housing_yes)            0.480646
348                                  (age_middle-aged)            0.508073
323                       (age_middle-aged, credit_no)            0.474231
668                  (subscribed_term_d_no, credit_no)            0.303030
667                       (marital_married, credit_no)            0.432648
192                             (subscribed_term_d_no)            0.359434
666                (balance_low, subscribed_term_d_no)            0.354568
738         (subscribed_term_d_no, loan_no, credit_no)            0.474231
670     (balance_low, subscribed_term_d_no, credit_no)            0.359434
731                    (subscribed_term_d_no, loan_no)            0.470914
536                             (balance_low, loan_no)            0.427118
230                               (loan_no, credit_no)            0.298607
737       (balance_low, subscribed_term_d_no, loan_no)            0.556072
229                                          (loan_no)            0.294846
533                                      (balance_low)            0.367175
535                           (balance_low, credit_no)            0.370936
537                  (balance_low, loan_no, credit_no)            0.433975
741  (balance_low, subscribed_term_d_no, loan_no, c...            0.566025
376                                        (credit_no)            0.252157

     consequent support   support  confidence      lift  representativity  \
7              0.618668  0.251272    0.755319  1.220879               1.0
349            0.556072  0.312763    0.641270  1.153214               1.0
346            0.566025  0.312763    0.650713  1.149619               1.0
348            0.541031  0.312763    0.615586  1.137801               1.0
323            0.532626  0.287105    0.605410  1.136653               1.0
668            0.869940  0.277372    0.915328  1.052174               1.0
667            0.610706  0.277372    0.641104  1.049776               1.0
192            0.884760  0.332449    0.924923  1.045394               1.0
666            0.749834  0.277372    0.782283  1.043275               1.0
738            0.731697  0.361867    0.763060  1.042864               1.0
670            0.743641  0.277372    0.771692  1.037722               1.0
731            0.741429  0.361867    0.768436  1.036426               1.0
536            0.726167  0.321389    0.752460  1.036208               1.0
230            0.835877  0.257244    0.861481  1.030632               1.0
737            0.631719  0.361867    0.650756  1.030135               1.0
229            0.847158  0.257244    0.872468  1.029877               1.0
533            0.850697  0.321389    0.875301  1.028923               1.0
535            0.843397  0.321389    0.866428  1.027307               1.0
537            0.721079  0.321389    0.740571  1.027031               1.0
741            0.627516  0.361867    0.639312  1.018798               1.0
376            0.983190  0.251051    0.995614  1.012637               1.0

     leverage  conviction  zhangs_metric   jaccard  certainty  kulczynski
7    0.045460    1.558486       0.271107  0.358926   0.358351    0.580734
349  0.041553    1.237499       0.259350  0.427837   0.191919    0.601860
346  0.040705    1.242460       0.250593  0.426160   0.195145    0.601636
348  0.037879    1.193944       0.246199  0.424752   0.162440    0.596836
323  0.034517    1.184457       0.228663  0.398894   0.155731    0.572223
668  0.013754    1.536050       0.071146  0.309706   0.348980    0.617085
667  0.013152    1.084701       0.083574  0.362114   0.078087    0.547644
192  0.014436    1.534959       0.067789  0.364629   0.348517    0.650337
666  0.011505    1.149043       0.064267  0.335384   0.129710    0.576097
738  0.014873    1.132367       0.078175  0.428721   0.116894    0.628809
670  0.010083    1.122867       0.056748  0.335923   0.109423    0.572342
731  0.012718    1.116629       0.066427  0.425488   0.104447    0.628251
536  0.011230    1.106217       0.060995  0.386333   0.096019    0.597521
230  0.007646    1.184845       0.042375  0.293243   0.156008    0.584617
737  0.010586    1.054509       0.065898  0.438136   0.051692    0.611792
229  0.007463    1.198463       0.041140  0.290750   0.165598    0.588062
533  0.009034    1.197311       0.044419  0.358500   0.164795    0.626548
535  0.008543    1.172422       0.042255  0.359921   0.147064    0.623746
537  0.008459    1.075132       0.046499  0.385513   0.069882    0.593138
741  0.006677    1.032705       0.042517  0.435106   0.031669    0.607989
376  0.003133    3.832780       0.016687  0.255056   0.739093    0.625479